body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

#letterDisplay {
    font-size: 100px;
    margin: 40px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.controls {
    margin: 20px;
}
